{% extends "base.html" %}

{% block title %}Авторизация{% endblock %}

{% block content %}
    <h2 class="authorize_title form_title">Авторизация</h2>
    <form action="/login" method="post" class="authorize_form user_form">
        {{ form.hidden_tag() }}
        <div class="authorize_info">
            Для получения доступа к основным функциям сервиса необходимо пройти авторизацию.
        </div>
        <div class="field_cont">
            {{ form.email.label }}
            {{ form.email(class="form__email") }}
            {% for error in form.email.errors %}
            <div class="form__error" role="alert">
                {{ error }}
            </div>
            {% endfor %}
        </div>
        <div class="field_cont">
            {{ form.password.label }}
            {{ form.password(type="password", class="form__password") }}
            {% for error in form.password.errors %}
            <div class="form__error" role="alert">
                {{ error }}
            </div>
            {% endfor %}
        </div>
        <div class="field_cont remember_me_cont">{{ form.remember_me() }} {{ form.remember_me.label }}</div>
        <div class="field_cont">{{ form.submit(type="submit", class="submit_btn") }}</div>
    </form>
    <a href="{{ url_for('register') }}" class="register_ref_btn ref_btn">Регистрация</a>
{% endblock %}
